# Project requirements
# Example: pip install -r docs/requirements.txt --extra-index-url https://download.pytorch.org/whl/cu117

# Base ----------------------------------------
numpy
setuptools
opencv-python
tqdm

torch==2.4.0+cu121
torchvision==0.19.0+cu121
torchaudio==2.4.0+cu121

pyyaml
huggingface_hub
safetensors
timm
scipy
requests
protobuf
psutil
fast-histogram
ruamel.yaml
opencv-python-headless

# Plotting ------------------------------------
pandas
plotly
mplfonts
# seaborn>=0.11.0

# Export --------------------------------------
onnx==1.14.1 # to support rknn==1.6.0+81f21f4d
onnxruntime==1.16.0 # to support rknn==1.6.0+81f21f4d
onnxoptimizer
onnxscript

# Tools --------------------------------------
faiss-gpu
grad-cam
argparse
umap-learn
black
isort # for dev/linter.sh
pymysql
onnx-simplifier # onnx simplifier for onnx2ncnn
# optuna==3.5.0
# pymongo==4.6.0

# Logging -------------------------------------
# tensorboard==2.14.0
wandb # wandb==0.12.18 to support auto stop
# optuna-dashboard==0.14.0
# dvclive>=2.12.0
# clearml
# comet

# Extras --------------------------------------
psutil  # system utilization
gpustat # gpu's status display
py3nvml # GPU monitoring
# py-cpuinfo  # display CPU info
# thop>=0.1.1  # FLOPs computation
# ipython  # interactive notebook
# albumentations>=1.0.3  # training augmentations
# pycocotools>=2.0.6  # COCO mAP
# roboflow